.container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10rem;
    margin-top: 10rem;
}

@media screen and (orientation:portrait) {
   .container{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5rem;
    margin-top: 10rem;
   }
}